body{
    margin: 0;
    padding: 0;
}
ul {
 
}
main {
    display: flex;
    justify-content: center;
    max-width: 800px;
    text-align: center;
    /* border: 1px solid  gray; */
   margin: auto auto;
   margin-top: 50px;
   padding: 20px;
}
nav{
    background-color:rgba(181, 175, 175, 0.81);
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid rgb(34, 34, 34);
}
nav img {
    height: 180px;
    width: 180px;
    border-radius: 40px;
   padding: 20px;
}
.uberschrift {
    font-size: 25px;
    font-weight: 900;
    color: darkgreen;
    width: 350px;

}
li span ,p {
    font-weight: 900;
    padding-bottom: 10px;
    color: rgb(2, 2, 2);
}
.uldaten{
    list-style: none;
    padding-left: 17px;
}
.info{
    font-size: 15px;
    font-weight: 700;
}
main{
    padding-left: 20px;
}
a {
    text-decoration: none;
}